.CombineTextBox-wrapper {
    width: 100%;
    height: 100vh;
}

.InfoTextBoxes-wrapper {
    width: 90%;
}

.CombineTextBox {
    border: 10px solid #FC5959;
    background-color: #1c1c1c;
    z-index: 2;
    border-radius: 15px;
    color: #e0e0e0;
    padding: 6rem;
    user-select: none;
}

.InfoTextBox {
    border: 5px solid #FC5959;
    border-radius: 15px;
    color: #828282;
    height: 14.1rem;
    width:  18.76rem;
    font-size: 1.5625rem;
    background-color: #1c1c1c;
    transition: all .1s linear;
}

.InfoTextBox:hover {
    transform: scale(1.07);
}

.CombineTextBox-text-wrapper{
    height:100%;
    width: 100%;
    font-size: 5rem;
}

.InfoTextBox-text-wrapper{
    width: 100%;
}

.InfoTextBox-header {
    color: #e3e3e3
}
.CombineTextBox-background-text-wrapper {
    color: #ffffff;
    opacity: 6%;
    position: absolute;
    max-height: 100vh;
    width: 100%;
    left: -20px;
    overflow: hidden;
    overflow-wrap: break-word;
}
.CombineTextBox-background-text {
    width: 130%;
    height: 100vh;
    font-size: 2.45rem;
    user-select: none;    
}

.CombineTextBox-small-text {
    color: #9b9b9b;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.TopBackground{
    background-color: #1c1c1c;
    position: absolute;
    height: 0vh;
    opacity: 70%;
    width: 100%;
}

.BottomBackground{
    background-color: #1c1c1c;
    position: absolute;
    height: 90vh;
    opacity: 70%;
    width: 100%;
    bottom: 0%;
}

.BottomBackground.animate{
    animation: bottom-background-fade 3s forwards infinite alternate;
    animation-timing-function: linear;
}

.TopBackground.animate{
    animation: top-background-fade 3s forwards infinite alternate;
    animation-timing-function: linear;
}

@keyframes bottom-background-fade{
    100% {
        height: 0vh;
    }
}

@keyframes top-background-fade{
    100% {
        height: 90vh;
    }
}

.ArrowImage-wrapper{
    position: absolute;
    min-height: 100vh;
    width: 100%;
}

.Arrow-svg{
    height: 20vmin;
    animation: arrow-animation 1.5s forwards infinite linear alternate;
}

@keyframes arrow-animation {
    100% {
        transform: scale(1.08);
    }
}

.arrow-button {
    position: absolute;
    background: transparent;
    border: transparent;
    bottom: 6vmin;
    z-index: 2;
}

.combyne-logo {
    width: 24rem;
}

.InfoTextBoxes-button {
    background-color: transparent;
    border-color: transparent;
    z-index: 2;
}

.cross-shape{
    margin: 0rem;
}

@media (orientation: portrait){
    .combyne-logo {
        width: 15rem;
    }

    .CombineTextBox{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .CombineTextBox-background-text{
        font-size: 1.8rem;
    }

    .InfoTextBox {
        font-size: 1.2rem;
        height: 12rem;
        width:  14rem;
    }

    .InfoTextBoxes-wrapper{
        flex-direction: column;
    }

    .InfoTextBoxes-button{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .cross-shape{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .Arrow-svg{
        height: 25vmin;
        animation: arrow-animation 1.5s forwards infinite linear alternate;
    }

    .arrow-button {
        bottom: 27vmin;
    }
}